* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(64, 131, 110);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(43, 169, 175);
    padding: 50px 60px;
}

h2 {
    font-size: 3em;
    color: rgb(34, 47, 196);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    color: rgb(122, 190, 219);
        background: rgb(52, 85, 219);
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.reset:focus {
    color: rgb(87, 193, 188);
    background-color: rgb(5, 57, 70);
}

.game {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    transform-style: preserve-3d;
    perspective: 500px;
}