* {
    margin-top: 0px;
    padding-top: 0px;
}
body {
    margin-top: 100px;
        display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(16, 99, 129);
}

.container {
    /*container class*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(21, 214, 224);
    padding: 50px 60px;
}

h1 {
    /*main heading*/
    justify-content: center;
        text-align: center;
        font-size: 3rem;
        background-image: linear-gradient(45deg, red 30%, orange 35%, white 60%, blue 85%);
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.img {
    /*size of image*/
    width: 140px;
    height: 180px;
}

.memoryGame {
    /*main container which keeps the game inside*/
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
}

.gameBox {
    /*Main game box */
    width: 675px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.playcard {
    /*description of main card*/
    margin: 5px;
    padding: 2px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    width: 130px;
    height: 180px;
}

.frontFace,
/*backface and front face described*/
.backFace {
    position: absolute;
    border-radius: 5px;
    background: #cfe8ff;
    backface-visibility: hidden;
}

.frontFace {
    /*this is how card will rotate*/
    transform: rotateY(180deg);
}

.playcard:active {
    /*this is how transition will happen when a card is active */
    transform: scale(0.97);
    transition: transform .2s;
}

.playcard.flip {
    /*card flipping*/
    transform: rotateY(180deg);
}

#reset,
#start {
    /* desiging done for start and reset buttons*/
    display: block;
    background: #0bad26;
    border: 0;
    border-radius: 10px;
    padding: 6px 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

@media only screen and (max-width:1231px) {

    /* media queries added for screen size 1231 to 991*/
    h1 {
        font-size: 3rem;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 110px;
        height: 140px;
    }

    .gameBox {
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .playcard {
        margin: 5px;
        padding: 2px;
        position: relative;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
        width: 90px;
        height: 130px;
    }

    #reset,
    #start {
        display: block;
        background: #0bad26;
        border: 0;
        border-radius: 10px;
        padding: 6px 20px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 10px;
    }


}

@media only screen and (max-width:992px) {

    /* media queries added for screen size 992 to 767*/
    h1 {
        font-size: 2rem;
    }

    .gameBox {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .playcard {
        position: relative;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
        width: 50px;
        height: 80px;
    }

    .frontFace,
    .backFace {
        position: absolute;
        border-radius: 5px;
        background: #cfe8ff;
        backface-visibility: hidden;
        height: inherit;
        width: inherit;
    }

    #reset,
    #start {
        display: block;
        background: #0bad26;
        border: 0;
        border-radius: 10px;
        padding: 6px 20px;
        color: white;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {

    /* media queries added for screen size 1231 to 991*/
    h1 {
        font-size: 2rem;
    }

    .gameBox {
        width: 350px;
        height: 230px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .playcard {
        margin: 5px;
        padding: 2px;
        position: relative;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
        width: 30px;
        height: 45px;


        #reset,
        #start {
            display: block;
            background: #0bad26;
            border: 0;
            border-radius: 10px;
            padding: 6px 20px;
            color: white;
            font-size: 10px;
            font-weight: 500;
            cursor: pointer;
            margin-top: 10px;
        }
    }


@media only screen and (max-width: 574px) {
    h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .gameBox {
        width: 350px;
        height: 230px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    #reset,
    #start {
        display: block;
        background: #0bad26;
        border: 0;
        border-radius: 10px;
        padding: 6px 20px;
        color: white;
        font-size: 8px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 10px;
    }

    .playcard {
        margin: 5px;
        padding: 2px;
        position: relative;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
        width: 30px;
        height: 45px;
    }
}


@media only screen and (max-width: 300px) {
    h1 {
        font-size: 1rem;
        justify-content: center;
        align-items: center;
    }

    .gameBox {
        width: 250px;
        height: 230px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .playcard {
        margin: 5px;
        padding: 2px;
        position: relative;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
        width: 30px;
        height: 45px;
    }

    #reset,
    #start {
        display: block;
        background: #0bad26;
        border: 0;
        border-radius: 10px;
        padding: 6px 20px;
        color: white;
        font-size: 8px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 10px;
    }
}